### Create a DataFrame with Surah_Number, Ayah_Count, Category (Makki/Madani). Show Surahs with more than 100 verses.

In [3]:

import pandas as pd
import requests

In [5]:
response = requests.get("https://api.alquran.cloud/v1/surah")

In [9]:
if response.status_code == 200 :
    surah = response.json()["data"]
    df = pd.DataFrame(surah)
df

,number,name,englishName,englishNameTranslation,numberOfAyahs,revelationType
0,1,سُورَةُ ٱلْفَاتِحَةِ,Al-Faatiha,The Opening,7,Meccan
1,2,سُورَةُ البَقَرَةِ,Al-Baqara,The Cow,286,Medinan
2,3,سُورَةُ آلِ عِمۡرَانَ,Aal-i-Imraan,The Family of Imraan,200,Medinan
3,4,سُورَةُ النِّسَاءِ,An-Nisaa,The Women,176,Medinan
4,5,سُورَةُ المَائـِدَةِ,Al-Maaida,The Table,120,Medinan
...,...,...,...,...,...,...
109,110,سُورَةُ النَّصۡرِ,An-Nasr,Divine Support,3,Medinan
110,111,سُورَةُ المَسَدِ,Al-Masad,The Palm Fibre,5,Meccan
111,112,سُورَةُ الإِخۡلَاصِ,Al-Ikhlaas,Sincerity,4,Meccan
112,113,سُورَةُ الفَلَقِ,Al-Falaq,The Dawn,5,Meccan
113,114,سُورَةُ النَّاسِ,An-Naas,Mankind,6,Meccan

In [12]:
df.columns

Index(['number', 'name', 'englishName', 'englishNameTranslation',
       'numberOfAyahs', 'revelationType'],
      dtype='object')

In [16]:
df_specific = df[["number","numberOfAyahs","revelationType"]]
df_specific

     number  numberOfAyahs revelationType
0         1              7         Meccan
1         2            286        Medinan
2         3            200        Medinan
3         4            176        Medinan
4         5            120        Medinan
..      ...            ...            ...
109     110              3        Medinan
110     111              5         Meccan
111     112              4         Meccan
112     113              5         Meccan
113     114              6         Meccan

[114 rows x 3 columns]

In [21]:
mask = df["numberOfAyahs"] > 100 
df[mask]

,number,name,englishName,englishNameTranslation,numberOfAyahs,revelationType
1,2,سُورَةُ البَقَرَةِ,Al-Baqara,The Cow,286,Medinan
2,3,سُورَةُ آلِ عِمۡرَانَ,Aal-i-Imraan,The Family of Imraan,200,Medinan
3,4,سُورَةُ النِّسَاءِ,An-Nisaa,The Women,176,Medinan
4,5,سُورَةُ المَائـِدَةِ,Al-Maaida,The Table,120,Medinan
5,6,سُورَةُ الأَنۡعَامِ,Al-An'aam,The Cattle,165,Meccan
6,7,سُورَةُ الأَعۡرَافِ,Al-A'raaf,The Heights,206,Meccan
8,9,سُورَةُ التَّوۡبَةِ,At-Tawba,The Repentance,129,Medinan
9,10,سُورَةُ يُونُسَ,Yunus,Jonas,109,Meccan
10,11,سُورَةُ هُودٍ,Hud,Hud,123,Meccan
11,12,سُورَةُ يُوسُفَ,Yusuf,Joseph,111,Meccan
15,16,سُورَةُ النَّحۡلِ,An-Nahl,The Bee,128,Meccan
16,17,سُورَةُ الإِسۡرَاءِ,Al-Israa,The Night Journey,111,Meccan
17,18,سُورَةُ الكَهۡفِ,Al-Kahf,The Cave,110,Meccan
19,20,سُورَةُ طه,Taa-Haa,Taa-Haa,135,Meccan
20,21,سُورَةُ الأَنبِيَاءِ,Al-Anbiyaa,The Prophets,112,Meccan
22,23,سُورَةُ المُؤۡمِنُونَ,Al-Muminoon,The Believers,118,Meccan
25,26,سُورَةُ الشُّعَرَاءِ,Ash-Shu'araa,The Poets,227,Meccan
36,37,سُورَةُ الصَّافَّاتِ,As-Saaffaat,Those drawn up in Ranks,182,Meccan